.container{
    height: 350px;
    width:300px;
    background-color: rgb(124, 13, 250);
    justify-content: center;
    margin: 50px 50px;
    border-radius: 10px;
}
#display{

    height: 30px;
    width: 250px;
    padding: 15px 5px;
    margin: 20px;
    margin-top: 50px;
    background-color: rgb(225, 196, 196);
    justify-content: center;
   border-radius: 5px;
}

.num1{
    display: flex;
    width: 35px;
    height: 45px;
    background-color: aqua;
    float: left;
    padding:18px;
    margin-left:25px;

    border-radius: 7px;
}
.operator1{
    width:65px ;
    height: 45px;
    margin-left:25px;
    background-color: rgb(244, 124, 196);
    border-radius: 7px;
}
.num2{
    display: flex;
    width: 35px;
    height: 45px;
    background-color: aqua;
    float: left;
    padding:18px;
    margin-left:25px;
    margin-top: 10px;
    border-radius: 7px;
}
.operator2{
    width:65px ;
    height: 45px;
    margin-left:25px;
    margin-top: 10px;
    background-color: rgb(244, 124, 196);
    border-radius: 7px;
}
.num3{
    display: flex;
    width: 35px;
    height: 45px;
    background-color: aqua;
    float: left;
    padding:18px;
    margin-left:25px;
    margin-top: 10px;
    border-radius: 7px;
}
.operator3{
    width:65px ;
    height: 45px;
    margin-left:25px;
    margin-top: 10px;
    background-color: rgb(244, 124, 196);
    border-radius: 7px;
}
#equalstoo{
    height: 45px;
    width: 250px;
    background-color: rgb(59, 240, 243);
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 7px;
}
#backbutton{
    width: 55px;
    height: 45px;
    /* width: 65px; */
    background-color: rgb(59, 240, 243);
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 7px;
}

.num{
    width: 35px;
    height: 45px;
    background-color: aqua;
    float: left;
    padding:18px;
    margin-left:25px;
    margin-top: 10px;
    border-radius: 7px;
}
.operator4{
    width:45px ;
    height: 45px;
    margin-left:20px;
    margin-top: 10px;
    background-color: rgb(244, 124, 196);
    border-radius: 7px;
}
.operator5{
    width:45px ;
    height: 45px;
    margin-left:20px;
    margin-top: 10px;
    background-color: rgb(244, 124, 196);
    border-radius: 7px;
}
