.btn1{
    margin: 50px 45px;
    padding: 15px 35px;
    cursor: pointer;
}
.btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .btn1:hover {
    background-color: #4CAF50;
    color: white;
  }

  .btn2{
    margin: 50px 45px;
    padding: 15px 35px;
    cursor: pointer;
}

.btn2 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .btn2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }