/* body{
    margin: 0 px 0px;
    background-color: blue;
} */
.box{
    height: 100vh;
    width: 100vh;
    background-color: aliceblue;
}
/* .footer ul a {
    color: white;
    float:left;
 } */
 h2{
    color: aliceblue;
 }
.footer{
    background-color: rgb(46, 31, 31);
    margin-bottom: 0%;
    display: flex;
}
.footer ul  {
    color: white;
    float:right;
 }
body{
    /* margin: 0 px 0px; */
    background-color: blue;
}
